<form #f="ngForm" (ngSubmit)="addProduct()">
    <div class="form-group">
        <div class="form-label">
            Name
        </div>
        <input type="text" name="name" class="form-control" [(ngModel)]="product.name" #name="ngModel" required minlength="5">
        <div class="alert alert-danger" *ngIf="name.invalid && name.touched">
            <div *ngIf="name.errors?.['required']">Name is required !</div>
            <div *ngIf="name.errors?.['minlength']">Name must have at least 5 characters !</div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">
            Quantity
        </div>
        <input type="number" name="quantity" class="form-control" [(ngModel)]="product.quantity" #quantity="ngModel" required min="0">
    <div class="alert alert-danger" *ngIf="quantity.invalid && quantity.touched">
        <div *ngIf="quantity.errors?.['required']">Quantity is required !</div>
        <div *ngIf="quantity.errors?.['min']">Quantity must be positive !</div>
    </div>
    </div>
    <div class="form-group">
        <div class="form-label">
            Price
        </div>
        <input type="number" name="price" class="form-control" [(ngModel)]="product.price" #price="ngModel" required min="0">
    <div class="alert alert-danger" *ngIf="price.invalid && price.touched">
        <div *ngIf="price.errors?.['required']">Price is required !</div>
        <div *ngIf="price.errors?.['min']">Price must be positive !</div>
    </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Ajouter" class="btn btn-primary" [disabled]="f.invalid">
    </div>
</form>
