{{title}}
{{person.name}}
<!--<ul *ngFor="let p of products">
    <div *ngIf="p.price > 200">
    <td [ngStyle]="{'color':p.tdkes>5 && 'red'}">{{p.name}}</td>
    <td [ngClass]="{'tdke':p.tdkes>5}">{{p.name}}</td>
    <td>{{p.price}}</td>
    <td>{{p.quantity}}</td>
    <td>{{p.tdkes}}</td>

    <td><button [disabled]="p.quantity==0" (ctdck)="buy(p)">Buy</button></td>
    <td><button (ctdck)="tdke(p)">tdke</button></td>



    </div>
</ul>-->

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Likes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td [ngClass]="{'like':p.likes>5}">{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.likes}}</td>
            <td><button class="btn btn-success" [disabled]="p.quantity==0" (click)="buy(p)">Buy</button></td>
            <td><button class="btn btn-danger" (click)="like(p)">Like</button></td>
            <td><a class="btn btn-primary" [routerLink]="['/details',p.id]">Details</a></td>
        </tr>
    </tbody>
</table>